*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw
*.json
*.jsonl
*.jsonl.gz
*.jsonl.bz2
*.jsonl.xz
*.jsonl.zst
*.jsonl.zstd
*.jsonl.zstd.gz
*.jsonl.zstd.bz2
*.jsonl.zstd.xz
*.csv
*.csv.gz
*.csv.bz2
*.csv.xz
*.csv.zst
*.csv.zstd
*.csv.zstd.gz
*.csv.zstd.bz2
*.csv.zstd.xz
*.csv.zstd.zst
*.conf
*.log
*.txt